
.cuadrito {
    display: inline-block;
    width:450px ;
    height: 450px;
    border: 2px solid black;
    margin: 1.0em;
}

.container {
    
}

.imgPokemon {
    width:300px ;
    height: 300px;
}